# Node
node_modules/
.env

# Python
__pycache__/
*.pyc
venv/

# macOS
.DS_Store

# Sensitive files
twwilio password.txt

# Datasets
*.csv

# Training scripts
train.py
train_model.py

# Media files
MY PROJECT DEMO VIDEO.mp4
