nav{
    padding: 0;
    margin: 40px 100px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-family: sans-serif;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    font-weight:700;
    color: #03045E;
}

.options{
    display: flex;
    justify-content: space-between;
}

.options a{
    text-decoration: none;
    padding: 8px;
    font-size: large;
    color: #03045E;
    font-weight: 500;
}

#login{
    border: 2px solid #03045E;
    padding:8px 25px;
    border-radius: 7px;
    background-color:  #03045E;
    color: white;
    font-weight: 500;
}

#signup{
     border: 2px solid #03045E;
    padding:8px 25px;
    border-radius: 7px;
    background-color:  #03045E;
    color: white;
    font-weight: 500;
}

main{
    padding: 0;
    margin: 175px 100px 0px 100px;
    display: grid;
    grid-template-columns: 6fr 6fr;
    font-family: sans-serif;
    height: 500px;
}

.trynow{
    font-size: 35px;
    font-weight: 500;
    line-height: 60px;
    color: #03045E;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 250px;
}

#btn1{
    padding: 10px 30px;
    color: white;
    background-color: #0098FF;
    border: 2px solid #0098FF;
    border-radius: 5px;
    text-decoration: none;
    font-size: 30px;
    width: 150px;
    height: 75px;
}

.img1{
    height: 520px;
    width: 420px;
    /* display: flex;
    flex-direction: column;
    justify-content: center ; */
}



